.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex !important;
}

.ai-center {
  align-items: center !important;
}

.ml-16 {
  margin-left: 16px !important;
}
